<!DOCTYPE html>
<html>
  <head>
    <title>Bloccitoff</title>
    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h2>Bloccitoff</h2>
      <nav class="nav nav-tabs">
        <li class="pull-right">
          <%= link_to "Home", welcome_index_path, class:"btn btn-primary" %>
        </li>
        <li class="pull-right">
          <%= link_to "About", welcome_about_path, class:"btn btn-primary" %>
        </li>
      </nav>

      <% if flash[:notice] %>
         <div class="alert alert-success">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:notice] %>
         </div>
       <% elsif flash[:alert] %>
         <div class="alert alert-warning">
           <button type="button" class="close" data-dismiss="alert">&times;</button>
           <%= flash[:alert] %>
         </div>
       <% end %>

      <%= yield %>
    </div>
  </body>
</html>
